<div class="span12">
  <!-- Content -->
  <div class="row">
    <!-- Main Content -->
    <div class="span12">
      <div class="support-page">
        <h2>Daftar Propinsi</h2>
        <%= form_tag admin_provinces_path, :method => 'get', :id => "table_search" do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Cari", :name => nil, :class => "btn btn-primary", :style => "margin-bottom: 10px;" %>
          <div id="provinces"><%= render 'provinces' %></div>
        <% end %>

        <br/>
        <% if current_user != nil %>
          <% if current_user.has_role? :admin %>
            <%= link_to "Tambah Propinsi", new_admin_province_path, :class => 'btn btn-primary' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- End of Main Content -->
  </div>
  <!-- End of Content -->
</div>