<!-- Main Content -->
<div class="span9">
  <div class="main-content">
    <div class="well">
      <h4><%= @province.name %></h4>
      <hr/>
      <% @activities.each do |activity| %>
        <div class="content-heading"><h5><%= link_to activity.name, admin_activity_path(activity) %> - <%= activity.get_subdistrict_name %></h5></div>
        <%= image_tag activity.picture.url(:thumb), :style => "float:left; margin-right: 10px; margin-bottom: 10px;" %>
        Jumlah Penerima Manfaat: <%= activity.male_beneficiary + activity.female_beneficiary %><br/>
        Jumlah Dana Bantuan Langsung Masyarakat: <%= number_to_currency(activity.blm_amount, :unit => "Rp ") %><br/>
        Jumlah Dana Swadaya Masyarakat: <%= number_to_currency(activity.self_fund_amount, :unit => "Rp ") %><br>
        <div style="clear:both"></div>
      <% end %>
      <%#= will_paginate @activities, :renderer => BootstrapPagination::Rails %>
      <br/>
    </div>
  </div>
</div>
<!-- End of Main Content -->