<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-horizontal well">
  	<fieldset>
  		<legend>Sign Up</legend>
	  	<%= f.input :username, :required => true, :autofocus => true %>
	    <%= f.input :email %>
      <% if f.object.password_required? %>
	    	<%= f.input :password, :required => true %>
	    	<%= f.input :password_confirmation, :required => true %>
    	<% end %>
	    <div class="form-actions">
		    <%= f.button :submit, "Sign up", :class => "btn btn-primary" %>
		  </div>
	  </fieldset>
  </div>
<% end %>

<%= render "devise/shared/links" %>
