<div class="span12">
  <!-- Registration -->
  <div class="logreg">
    <div class="row">
      <div class="span12">
        <div class="logreg-page">
          
          <h3>Daftar akun <span class="color">Jalin Suara</span></h3>
          <hr />

          <div class="form-horizontal">
            <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
              <!-- Register -->
              <%= f.input :username, :required => true, :autofocus => true %>
              <%= f.input :email %>
              <%= f.input :password, :required => true %>
              <%= f.input :password_confirmation, :required => true %>
              <div class="form-actions">
                <%= f.button :submit, "Sign up", :class => "btn" %>
              </div>
            <% end %>
            <hr />
            <div class="lregister">
              Sudah memiliki akun? <%= link_to "Masuk", new_user_session_path %>
            </div>
            <div id="remote2">
              <div id="services" class="box">
                <a href="users/auth/facebook" class="services"><%= image_tag "facebook_64.jpg", :size => "64x64",  :alt => "Facebook" %></a>
                <a href="users/auth/twitter" class="services"><%= image_tag "twitter_64.jpg", :size => "64x64",  :alt => "Twitter" %></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Registration -->
</div>