<!-- Tab -->
<% if !@activities.empty? %>
  <div class="posts">
    <!-- Post Entry -->
    <% @activities.each do |activity| %>
      <div class="entry">
         <h3><%= link_to activity.name, activity %></h3>
         
         <!-- Meta details -->
         <div class="meta">
            <i class="icon-map-marker"></i> <%= activity.get_subdistrict_name %>
         </div>
         
         <!-- Thumbnail -->
         <div class="bthumb2">
            <%= image_tag activity.picture.url(:thumbnail) %>
         </div>
         
         <div style="min-height: 100px">
          Jumlah Penerima Manfaat: <%= activity.male_beneficiary + activity.female_beneficiary %><br/>
          Jumlah Dana BLM: <%= number_to_currency(activity.blm_amount, :unit => "Rp ") %><br/>
          Jumlah Dana Swadaya Masyarakat: <%= number_to_currency(activity.self_fund_amount, :unit => "Rp ") %><br>
         </div>
         <div class="button"><%= link_to "Baca selengkapnya...", activity_path(activity) %></div>
      </div>
    <% end %>
    <!-- End of Post Entry -->
  </div>
<% else %>
  Belum ada data sub proyek di kecamatan ini.
<% end %>
<!-- End of Tab -->