<div class="span12">
  <!-- Content -->
  <div class="row">
    <!-- Main Content -->
    <div class="span8">
      <div class="support-page">
        <h2>Daftar Kecamatan</h2>
        <% if @district != nil %>
          <h4><%= @district.name %> - <%= @district.get_province_name %></h4>
        <% end %>
        <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama Propinsi</th>
            <th>Nama Kecamatan</th>
            <th>Sub Proyek</th>
          </tr>
        </thead>
        <tbody>
          <% i=0 %>
          <% @subdistricts.each do |subdistrict| %>
            <% i+= 1 %>
            <tr>
              <td><%= i %></td>
              <td><%= subdistrict.get_province_name %></td>
              <td><%= link_to subdistrict.name, subdistrict_path(subdistrict) %></td>
              <td style='text-align: right;'><%= subdistrict.get_activities_number %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <%= will_paginate @activities, :renderer => BootstrapPagination::Rails, :next_label => ">", :previous_label => '<' %>
    </div>
    <!-- End of Main Content -->
    <!-- Widgets -->
    <div class="span4">
      <div class="sidebar", style="margin-top: 0px;">
        <div class="widget">
          <h4>Cakupan Jalin Suara</h4>
          <ul>
            <li>Propinsi: <%= link_to @provinces_number, provinces_path %></li>
            <li>Kabupaten: <%= link_to @districts_number, districts_path %></li>
            <li>Kecamatan: <%= link_to @subdistricts_number, subdistricts_path %></li>
            <li>Sub Proyek: <%= link_to @activities_number, activities_path %></li>
          </ul>
        </div>
        <div class="widget">
          <h4>Cakupan PNPM Mandiri</h4>
          <ul>
            <li>Propinsi: 33</li>
            <li>Kecamatan: 6.752</li>
            <li>Total Dana BLM: 9,7 Triliun Rupiah</li>
            <li>Total Dana APBN: 8,9 Triliun Rupiah</li>
            <li>Total Dana APBD: 8 Miliar Rupiah</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End of Widgets -->
  </div>
  <!-- End of Content -->
</div>