<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <h5 class="nav-list"><%= @subdistrict.name %></h5>
    <ul class="nav nav-list">
      <li class="divider"></li>
      <li class="nav-header">Profil Kecamatan</li>
      <li style="font-size: 12px;">Nama UPK: </li>
      <li style="font-size: 12px;">Alamat UPK: </li>
      <li style="font-size: 12px;">Telepon UPK: </li>
      <li style="font-size: 12px;">Nama Fasilitator: </li>
      <li style="font-size: 12px;">Telepon Fasilitator: </li>
      <li style="font-size: 12px;">Telepon Pengaduan: </li>
      <li style="font-size: 12px;">Jumlah Desa: </li>
      <li style="font-size: 12px;">Jumlah Kelurahan: </li>
      <li style="font-size: 12px;">Jumlah Penerima Manfaat: </li>
    </ul>
  </div>
</div>

<!-- Main Content -->
<div class="span6">
  <div class="main-content">
    <div class="well">
      <ul class="nav nav-tabs">
        <li class="active"><%= link_to "Cerita", "#" %></li>
        <li><%= link_to "Aktivitas", "#" %></li>
      </ul>

      <!-- Tab -->
      <div class="tabbable">
        <div class="tab-content">
          <div class="tab-pane active">
            <% @activities.each do |activity| %>
              <div class="content-heading"><h5><%= link_to activity.name, activity_path(activity) %></h5></div>
              <%= image_tag activity.picture.url(:thumb), :style => "float:left; margin-right: 10px; margin-bottom: 10px;" %>
              Jumlah Penerima Manfaat: <%= activity.male_beneficiary + activity.female_beneficiary %><br/>
              Jumlah Dana Bantuan Langsung Masyarakat: <%= number_to_currency(activity.blm_amount, :unit => "Rp ") %><br/>
              Jumlah Dana Swadaya Masyarakat: <%= number_to_currency(activity.self_fund_amount, :unit => "Rp ") %><br>
              <div style="clear:both"></div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- End of Tab -->
    </div>
  </div>
</div>
<!-- End of Main Content -->