<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <h5 class="nav-list"><%= @subdistrict.name %></h5>
    <% if @implementer_unit %>
      <h5 class="nav-list" style="text-align: center;"><%= image_tag @implementer_unit.picture.url(:square)%></h5>
    <% end %>
    <ul class="nav nav-list">
      <li class="divider"></li>
      <li class="nav-header">Profil Kecamatan</li>
      <li style="font-size: 12px;">Alamat UPK: <b><%= @implementer_unit.address %></b></li>
      <li style="font-size: 12px;">Telepon UPK: <b><%= @implementer_unit.phone %></b></li>
      <li style="font-size: 12px;">Nama Fasilitator: <b><%= @implementer_unit.facilitator %></b></li>
      <li style="font-size: 12px;">Telepon Fasilitator: <b><%= @implementer_unit.facilitator_phone %></b></li>
      <li style="font-size: 12px;">Telepon Pengaduan: <b><%= @implementer_unit.call_center %></b></li>
      <li style="font-size: 12px;">Jumlah Desa: </li>
      <li style="font-size: 12px;">Jumlah Kelurahan: </li>
      <li style="font-size: 12px;">Jumlah Penerima Manfaat: </li>
      <li class="divider"></li>
      <% if current_user != nil %>
        <% if current_user.has_role? :fasilitator, @implementer_unit %>
          <li style="font-size: 12px;"><button href="#upk_form" data-toggle="modal" class="btn btn-primary">Edit Data UPK</button></li>
          <%= render "/implementer_units/form" %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<!-- Main Content -->
<div class="span6">
  <div class="main-content">
    <div class="well">
      <ul class="nav nav-tabs">
        <li class="<%= 'active' if params[:tab] == nil %>"><%= link_to "Cerita", subdistrict_path(@subdistrict) %></li>
        <li class="<%= 'active' if params[:tab] == 'activities' %>"><%= link_to "Sub Proyek", :controller => 'subdistricts', :action => 'show', :tab => "activities" %></li>
      </ul>
      
      <% if params[:tab] == nil %>
        <!-- Add Post Form -->
        <% if current_user != nil %>
          <div class="text-center">
            <button href="#responsive" data-toggle="modal" class="btn btn-primary">+ Tambah Cerita</button>
          </div>
        <% end %>
        <!-- End of Add Post Form -->

        <%= render "stories_tab" %>
      <% else %>
        <%= render "activities_tab" %>
      <% end %>
    </div>
  </div>
</div>
<!-- End of Main Content -->