<h3><%= link_to result.name, result %></h3>

<!-- Meta details -->
<div class="meta">
  <b>Propinsi:</b> <%= result.get_province_name %>&nbsp;
</div>

<!-- Thumbnail -->
<div class="bthumb2">
  <% if result.subdistricts != nil %>
    <%= image_tag result.subdistricts.first.implementer_unit.picture.url(:thumbnail) %>
  <% end %>
</div>

<div style="min-height: 100px">
  Jumlah Kecamatan: <%= result.get_subdistricts_number %><br/>
  Jumlah Sub Proyek: <%= result.get_activities_number %><br/>
</div>