<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header">Cakupan Jalin Suara</li>
      <li style="font-size: 12px;">Propinsi: <%= link_to(@provinces.size, provinces_path) %></li>
      <li style="font-size: 12px;">Kabupaten: <%= link_to(@districts.size, districts_path) %></li>
      <li style="font-size: 12px;">Kecamatan: <%= link_to(@subdistricts.size, subdistricts_path) %></li>
      <li style="font-size: 12px;">Desa: </li>
      <li class="divider"></li>
      <li class="nav-header">Cakupan PNPM Mandiri</li>
      <li style="font-size: 12px;">Propinsi: </li>
      <li style="font-size: 12px;">Kabupaten: </li>
      <li style="font-size: 12px;">Kecamatan: </li>
      <li style="font-size: 12px;">Desa: </li>
      <li style="font-size: 12px;">Total Bantuan Langsung Masyarakat:</li>
      <li style="font-size: 12px;"><b><%= number_to_currency(0, :unit => "Rp ") %></b></li>
    </ul>
  </div>
</div>

<!-- Main Content -->
<div class="span6">
  <div class="main-content">
    <div class="well">
      <%= gmaps4rails(@json) %>
      <br />

      <%= form_tag '/home/search' do %>
        <%= text_field_tag 'query', nil, :class => 'search-query' %>
        <%= submit_tag 'Cari', :class => 'btn' %>
        <%= link_to 'Lihat Peta Interaktif', '/home/show_map', :class => 'btn pull-right' %>
      <% end %>

      <!-- Activities -->
      <ul class="nav nav-tabs">
        <li class="<%= 'active' if params[:tab] == nil %>"><%= link_to "Terpopuler", :controller => 'home', :action => 'index'  %></li>
        <li class="<%= 'active' if params[:tab] == 'recent' %>"><%= link_to "Terkini", :controller => 'home', :action => 'index', :tab => "recent" %></li>
      </ul>

      <div class="tabbable">
        <div class="tab-content">
          <div class="tab-pane active">
            <% i = 0 %>
            <% @listed_posts.each do |post| %>
              <% i += 1%>
              <% if i != 1 %>
                <hr />
              <% end %>
              <div class="row">
                <div class="left-side">
                  <% if post.picture_file_name != nil %>
                    <%= image_tag post.picture.url(:medium), :style => "float:left; margin-bottom: 10px;" %>
                  <% end %>
                </div>
                <div class="right-side">
                  <div class="content-heading">
                    <h5><%= link_to post.title, post %></h5>
                    oleh <%= post.user.username %>&nbsp;<small><%= distance_of_time_in_words(post.created_at, Time.now) %> ago</small><br/>
                    <small style="color: #999999;"><b><%= post.comments_count %> komentar</b></small>
                  </div>
                  <div class="content-desc">
                    <%= raw(truncate(post.description, length: 200)) %> <%= link_to 'baca selengkapnya', post %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- End of Activities -->
      <br/>
    </div>
  </div>
</div>
<!-- End of Main Content -->

<!-- Right Sidebar -->
<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <h5 class="nav-list">Media Sosial</h5>
    <ul class="nav nav-list">
      <li class="divider"></li>
      <li class="nav-header">Facebook Feed</li>
      <li>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=472613249471380";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like-box" data-href="http://www.facebook.com/psf.jalin.suara" data-width="238" data-height="425" data-show-faces="true" data-stream="true" data-header="true"></div>
      </li>
      <li class="divider"></li>
      <li class="nav-header">Twitter Feed</li>
      <li>
        <a class="twitter-timeline"  href="https://twitter.com/psf_jalinsuara"  data-widget-id="305389197609541632">Tweets by @psf_jalinsuara</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
    </ul>
  </div>
</div>
<!-- End of Right Sidebar -->