<div class="row">
  <div class="span12">
    <div class="well">
      <div class="row">
        <div class="span7">
          <h4>PNPM</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="span4 pull-right">
          <table class="table table-bordered">
            <tr>
              <td>Total Activities</td>
              <td>23,422,234</td>
            </tr>
            <tr>
              <td>Subdistricts</td>
              <td>5,100</td>
            </tr>
            <tr>
              <td>Amount</td>
              <td>234,566,781</td>
            </tr>
            <tr>
              <td>Beneficiaries</td>
              <td>234,566,781</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="well">
      <h4>Peta Aktivitas PNPM</h4>
      <div class="row">
        <div class="span8">
          <%= gmaps4rails(@json) %>
        </div>
        <div class="content-box">
          <h5>PNPM</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="span12">
    <div class="segment-separator">
      Featured Activities
    </div>
  </div>
  <div class="content">
    <div class="span8">
      <% @featured_activities_left.each do |activity| %>
        <div class="content-heading"><h5><%= link_to activity.name, activity_path(activity) %> &nbsp </h5></div>
        <%= image_tag activity.picture.url(:thumb), :style => "float:left; margin-right: 10px; margin-bottom: 10px;" %>
        <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <div style="clear:both"></div>
      <% end %>
    </div>
    <div class="span3">
      <% @featured_activities_right.each do |activity| %>
        <%= image_tag activity.picture.url(:tiny), :style => "float:left; margin-right: 10px; margin-bottom: 10px;" %>
        <h5 style="margin-top: -2px"><%= link_to activity.name, activity_path(activity) %></h5>
        <div style="clear:both"></div>
        <br/>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="segment-separator">
      New Activities
    </div>
  </div>
  <div class="span2">
    <h5>PNPM Green</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
  <div class="span2">
    <h5>PNPM Generasi</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
  <div class="span2">
    <h5>PNPM Peduli</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
  <div class="span2">
    <h5>PNPM Evaluations</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
  <div class="span2">
    <h5>Gender in PNPM</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
  <div class="span2">
    <h5>Contact Us</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
</div>