<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header">Cakupan Jalin Suara</li>
      <li style="font-size: 12px;">Propinsi: <%= link_to(@provinces.size, provinces_path) %></li>
      <li style="font-size: 12px;">Kabupaten: <%= link_to(@districts.size, districts_path) %></li>
      <li style="font-size: 12px;">Kecamatan: <%= link_to(@subdistricts.size, subdistricts_path) %></li>
      <li style="font-size: 12px;">Desa: </li>
      <li class="divider"></li>
      <li class="nav-header">Cakupan PNPM Mandiri</li>
      <li style="font-size: 12px;">Propinsi: </li>
      <li style="font-size: 12px;">Kabupaten: </li>
      <li style="font-size: 12px;">Kecamatan: </li>
      <li style="font-size: 12px;">Desa: </li>
      <li style="font-size: 12px;">Total Bantuan Langsung Masyarakat:</li>
      <li style="font-size: 12px;"><b><%= number_to_currency(0, :unit => "Rp ") %></b></li>
    </ul>
  </div>
</div>

<!-- Main Content -->
<div class="span6">
  <div class="main-content">
    <div class="well">
      <%= form_tag '/home/search' do %>
        <%= text_field_tag 'query', nil, :class => 'search-query' %>
        <%= submit_tag 'Cari', :class => 'btn' %>
      <% end %>

      <h5>Hasil Pencarian</h5>
      <% @results.each do |result| %>
        <hr />
        <div class="row">
          <% if result.class == Post %>
            <!-- Render Post result -->
            <div class="left-side">
              <%= image_tag result.picture.url(:medium), :style => "float:left; margin-bottom: 10px;" %>
            </div>
            <div class="right-side">
              <div class="content-heading">
                <h5><%= result.title %></h5>
                oleh <%= result.user.username %>&nbsp;<small><%= distance_of_time_in_words(result.created_at, Time.now) %> ago</small><br/>
                <small style="color: #999999;"><b><%= result.comments_count %> komentar</b></small>
              </div>
              <div class="content-desc">
                <%= raw(truncate(result.description, length: 200)) %> <%= link_to 'baca selengkapnya', result %>
              </div>
            </div>
            <!-- End of Render Post result -->
          <% elsif result.class == Activity %>
            <!-- Render Activity result -->
            <div class="left-side">
              <%= image_tag result.picture.url(:medium), :style => "float:left; margin-bottom: 10px;" %>
            </div>
            <div class="right-side">
              <div class="content-heading">
                <h5><%= result.name %></h5>
                <small style="color: #999999;"><b>di <%= result.get_subdistrict_name %></b></small>
              </div>
              <div class="content-desc">
                Jumlah Penerima Manfaat: <%= result.male_beneficiary + result.female_beneficiary %><br/>
                Jumlah Dana BLM: <%= number_to_currency(result.blm_amount, :unit => "Rp ") %><br/>
                <%= link_to 'lihat selengkapnya', activity_path(result) %>
              </div>
            </div>
            <!-- End of Render Activity result -->
          <% elsif result.class == Subdistrict %>
            <!-- Render Subdistrict result -->
            <div class="left-side">
              <%= image_tag result.implementer_unit.picture.url(:medium), :style => "float:left; margin-bottom: 10px;" %>
            </div>
            <div class="right-side">
              <div class="content-heading">
                <h5><%= result.name %></h5>
              </div>
              <div class="content-desc">
                Jumlah Cerita: <%= result.posts.size %><br/>
                Jumlah Sub Proyek: <%= result.activities.size %><br/>
                <%= link_to 'lihat selengkapnya', subdistrict_path(result) %>
              </div>
            </div>
            <!-- Render Subdistrict result -->
          <% elsif result.class == District %>
            <!-- Render District result -->
            <div class="left-side">
            </div>
            <div class="right-side">
              <div class="content-heading">
                <h5><%= result.name %></h5>
              </div>
            </div>
            <!-- Render District result -->
          <% elsif result.class == District %>
            <!-- Render Province result -->
            <div class="left-side">
            </div>
            <div class="right-side">
              <div class="content-heading">
                <h5><%= result.name %></h5>
              </div>
            </div>
            <!-- Render Province result -->
          <% end %>
        </div>
      <% end %>
      <br/>
    </div>
  </div>
</div>
<!-- End of Main Content -->