<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <h5 style="margin-left: 15px;">Pencarian Sub Proyek</h5>
    <%= simple_form_for :search, :controller => 'home', :action => 'show_map', :html => { :style => 'margin-left: 15px;' } do |f| %>
      <%= f.input :subdistrict_district_province_name_contains, :label => 'Nama Propinsi' %>
      <%= f.input :subdistrict_district_name_contains, :label => 'Nama Kabupaten' %>
      <%= f.input :subdistrict_name_contains, :label => 'Nama Kecamatan' %>
      <%= f.input :name_contains, :label => 'Nama Sub Proyek' %>
      <%= f.button :submit, 'Cari', :class => 'btn-primary' %>
    <% end %>
  </div>
</div>

<!-- Main Content -->
<div class="span9">
  <div class="main-content">
    <div class="well">
      <h5>Peta Sub Proyek</h5>
      <%= gmaps4rails(@json) %>
    </div>
  </div>
</div>
<!-- End of Main Content -->