<div class="span12">
  <div class="blog">
    <div class="row">
      <div class="span12">

        <div class="row">
          <!-- Posts -->
          <div class="span8">
            <div class="rposts">
              <h2>Peta Lokasi PNPM</h2>
            </div>
            <!-- GMaps -->
            <div id="da-slider" class="da-slider">
              <%= content_tag "div", id: "activities", data: {url: @activities } do %>
              <% end %>
              <%# @activities.each do |activity| %>
                <%#= content_tag "div", class: "activity", data: {latitude: (lat=activity.latitude), longitude: (lon=activity.longitude), name: activity.name} do %>
                <%# end %>
              <%# end %>
              <%#= gmaps4rails(@json) %>
              <div id="map" style="height: 360px;" data-cloudmadekey="6e6e029f140943bf932368519b7f92fd"></div>
            </div>
            <!-- GMaps -->
          </div>
          <!-- End of Posts -->
          <!-- Widgets -->
          <div class="span4">
            <div class="sidebar" style="margin-top: 0px;">
              <div class="widget">
                <h4>Pencarian Sub Proyek</h4>
                <%= simple_form_for :search, :controller => 'home', :action => 'show_map', :html => { :style => 'margin-left: 15px;' } do |f| %>
                  <%= f.input :district_province_name_contains, :label => 'Nama Propinsi' %>
                  <%= f.input :district_name_contains, :label => 'Nama Kabupaten' %>
                  <%= f.input :name_contains, :label => 'Nama Kecamatan' %>
                  <%= f.input :activities_name_contains, :label => 'Nama Sub Proyek' %>
                  <%= f.button :submit, 'Cari', :class => 'btn-primary' %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- End of Widgets -->
        </div>

      </div>
    </div>
  </div>
</div>