<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header"><h5 style='margin-bottom: 0px;'><%= @district.name %></h5></li>
      <li class="divider"></li>
      <li class="nav-header">Cakupan Jalin Suara</li>
    </ul>
    <div style="font-size: 12px; margin-left: 15px;">Kecamatan: <%= link_to @district.get_subdistricts_number, {:controller => 'subdistricts', :action => 'index', :district_id => @district.id}, {:style => 'display: inline;'} %></div>
    <div style="font-size: 12px; margin-left: 15px;">Total Aktivitas: <%= link_to @district.get_activities_number, {:controller => 'activities', :action => 'index', :district_id => @district.id}, {:style => 'display: inline;'} %></div>
    <ul class="nav nav-list">
      <li style="font-size: 12px;">Total Bantuan Langsung Masyarakat: </li>
      <li style="font-size: 12px;"><b></b></li>
      <li style="font-size: 12px;">Total Dana Swadaya Masyarakat: </li>
      <li style="font-size: 12px;"><b></b></li>
    </ul>
  </div>
</div>

<!-- Main Content -->
<div class="span6">
  <div class="main-content">
    <div class="well">
      <%= gmaps4rails(@json) %>
      <% @activities.each do |activity| %>
        <div class="content-heading"><h5><%= link_to activity.name, activity_path(activity) %> - <%= activity.get_subdistrict_name %></h5></div>
        <%= image_tag activity.picture.url(:thumb), :style => "float:left; margin-right: 10px; margin-bottom: 10px;" %>
        Jumlah Penerima Manfaat: <%= activity.male_beneficiary + activity.female_beneficiary %><br/>
        Jumlah Dana Bantuan Langsung Masyarakat: <%= number_to_currency(activity.blm_amount, :unit => "Rp ") %><br/>
        Jumlah Dana Swadaya Masyarakat: <%= number_to_currency(activity.self_fund_amount, :unit => "Rp ") %><br>
        <div style="clear:both"></div>
      <% end %>
      <%#= will_paginate @activities, :renderer => BootstrapPagination::Rails %>
      <br/>

      <%= will_paginate @activities, :renderer => BootstrapPagination::Rails, :next_label => ">", :previous_label => '<' %>
    </div>
  </div>
</div>
<!-- End of Main Content -->