<div class="tabbable">
  <div class="tab-content">
    <div class="tab-pane active">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Judul Cerita</th>
            <th>Penulis Cerita</th>
            <th>Sub Proyek</th>
            <th>Kecamatan</th>
            <% if current_user != nil %>
              <% if current_user.has_role? :admin %>
                <th>Aksi</th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% i=0 %>
          <% @entries.each do |post| %>
            <% i = i+1 %>
            <tr>
              <td><%= i %></td>
              <td><%= link_to post.title, admin_post_path(post) %></td>
              <td><%= post.get_author_name %></td>
              <td><%= post.get_activity_name %></td>
              <td><%= post.get_subdistrict_name %></td>
              <% if current_user != nil %>
                <% if current_user.has_role? :admin %>
                  <td>
                    <%= link_to "Edit", edit_admin_post_path(post), :class => 'btn btn-mini' %>
                    <%= link_to "Hapus", admin_post_path(post), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @entries, :renderer => BootstrapPagination::Rails, :next_label => ">", :previous_label => '<' %>
    </div>
  </div>
</div>