<!-- Main Content -->
<div class="span9">
  <div class="main-content">
    <div class="well">
      <!-- Tabs -->
      <ul class="nav nav-tabs">
        <li class="<%= 'active' if params[:tab] == nil %>"><%= link_to "Cerita Terbaru", :controller => 'home', :action => 'index'  %></li>
        <li class="<%= 'active' if params[:tab] == 'comments' %>"><%= link_to "Komentar Terbaru", :controller => 'home', :action => 'index', :tab => "comments" %></li>
        <li class="<%= 'active' if params[:tab] == 'users' %>"><%= link_to "Pengguna Terbaru", :controller => 'home', :action => 'index', :tab => "users" %></li>
      </ul>
      <!-- End of Tabs -->

      <!-- Tab Content -->
      <% if params[:tab] == nil %>
        <%= render "stories_tab" %>
      <% elsif params[:tab] == 'comments' %>
        <%= render "comments_tab" %>
      <% elsif params[:tab] == 'users' %>
        <%= render "users_tab" %>
      <% end %>
      <!-- End of Tab Content -->
      <br/>
    </div>
  </div>
</div>
<!-- End of Main Content -->