<div class="span12">
  <!-- Content -->
  <div class="blog">
    <div class="row">
      <div class="span12">

        <div class="row">
          <!-- Main Content -->
          <div class="span12">
            <!-- Navigation Tabs -->
            <ul class="nav nav-tabs">
              <li class="<%= 'active' if params[:tab] == nil %>" style="background-image: none; margin-bottom: -5px; margin-left: -20px;">
                <% if params[:tab] == nil %>
                  <%= link_to "Cerita Terbaru", {:controller => 'home', :action => 'index'}, {:style => "background-color: #fcfcfc;"}  %>
                <% else %>
                  <%= link_to "Cerita Terbaru", :controller => 'home', :action => 'index'  %>
                <% end %>
              </li>
              <li class="<%= 'active' if params[:tab] == 'comments' %>" style="background-image: none; margin-bottom: -5px; margin-left: -20px;">
                <% if params[:tab] == 'comments' %>
                  <%= link_to "Komentar Terbaru", {:controller => 'home', :action => 'index', :tab => "comments"}, {:style => "background-color: #fcfcfc;"} %>
                <% else %>
                  <%= link_to "Komentar Terbaru", :controller => 'home', :action => 'index', :tab => "comments" %>
                <% end %>
              </li>
              <li class="<%= 'active' if params[:tab] == 'users' %>" style="background-image: none; margin-bottom: -5px; margin-left: -20px;">
                <% if params[:tab] == 'users' %>
                  <%= link_to "Pengguna Terbaru", {:controller => 'home', :action => 'index', :tab => "users"}, {:style => "background-color: #fcfcfc;"} %>
                <% else %>
                  <%= link_to "Pengguna Terbaru", :controller => 'home', :action => 'index', :tab => "users" %>
                <% end %>
              </li>
            </ul>
            <!-- End of Navigation Tabs -->
            <br />
            <% if params[:tab] == nil %>
              <%= render "stories_tab" %>
            <% elsif params[:tab] == 'comments' %>
              <%= render "comments_tab" %>
            <% elsif params[:tab] == 'users' %>
              <%= render "users_tab" %>
            <% end %>
          </div>
          <!-- End of Main Content -->
        </div>
      </div>
    </div>
  </div>
  <!-- End of Content -->
</div>