<div class="span9">
  <div class="main-content">
    <div class="well">
      <%- model_class = Activity -%>
      <h4>Daftar Sub Proyek</h4>
      <hr/>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nomor</th>
            <th>Nama Sub Proyek</th>
            <th>Nama Kecamatan</th>
            <th><%= model_class.human_attribute_name(:latitude) %></th>
            <th><%= model_class.human_attribute_name(:longitude) %></th>
            <% if current_user != nil %>
              <% if current_user.has_role? :admin %>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              <% end %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @activities.each do |activity| %>
            <tr>
              <td><%= activity.id %></td>
              <td><%= link_to activity.name, admin_activity_path(activity) %></td>
              <td><%= activity.get_subdistrict_name %></td>
              <td><%= activity.latitude %></td>
              <td><%= activity.longitude %></td>
              <% if current_user != nil %>
                <% if current_user.has_role? :admin %>
                  <td>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_activity_path(activity), :class => 'btn btn-mini' %>
                    <%= link_to "Hapus", admin_activity_path(activity), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @activities, :renderer => BootstrapPagination::Rails %>

      <% if current_user != nil %>
        <% if current_user.has_role? :admin %>
          <%= link_to "Tambah Sub Proyek", new_admin_activity_path, :class => 'btn btn-primary' %>
          <%= link_to 'Upload Excel', {:action => 'import_excel'}, {:class => 'btn btn-primary'} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>