<div class="form">
  <% if send(Opinio.current_user_method) %>
    <%= form_for Comment.new, :remote => false, :html => {:class => "form-horizontal"} do |f| %>
      <div class="control-group">
        <label class="control-label" for="comment" style="width: 80px;">Komentar</label>
        <div class="controls" style="margin-left: 100px;">
          <%= f.text_area :body, :rows => 5, :style => "width: 90%;" %>
        </div>
      </div>
      <%= hidden_field_tag :commentable_id, commentable.id %>
      <%= hidden_field_tag :commentable_type, commentable.class.base_class.name.to_s %>
      <div class="form-actions" style="padding-left: 100px;">
        <%= f.submit 'Kirim', :class => 'btn' %>
      </div>
    <% end %>
  <% else %>
    <%= form_for Comment.new, :remote => false, :html => {:class => "form-horizontal"} do |f| %>
      <div class="control-group">
        <label class="control-label" for="comment" style="width: 80px;">Nama</label>
        <div class="controls" style="margin-left: 100px;">
          <%= f.text_field :guest_name %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="comment" style="width: 80px;">Email</label>
        <div class="controls" style="margin-left: 100px;">
          <%= f.text_field :guest_email %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="comment" style="width: 80px;">Komentar</label>
        <div class="controls" style="margin-left: 100px;">
          <%= f.text_area :body, :rows => 5, :style => "width: 90%;" %>
        </div>
      </div>
      <%= hidden_field_tag :commentable_id, commentable.id %>
      <%= hidden_field_tag :commentable_type, commentable.class.base_class.name.to_s %>
      <div class="form-actions" style="padding-left: 100px;">
        <%= f.submit 'Kirim', :class => 'btn' %>
      </div>
    <% end %>
  <% end %>
</div>
