<!-- Modal Form -->
<% if @post != nil %>
  <%= simple_form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
    <div id="responsive" class="modal container hide fade" tabindex="-1">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Tambah Cerita</h3>
    </div>
    <div class="modal-body">
      <%= f.input :title %>
      <%= f.input :description, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'} } %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <% if @postable != nil %>
        <%= f.input :postable_id, :as => :hidden, :input_html => { :value => @postable.id } %>
        <%= f.input :postable_type, :as => :hidden, :input_html => { :value => @postable.class } %>
        <%= f.input :latitude, :as => :hidden, :input_html => { :value => @postable.latitude } %>
        <%= f.input :longitude, :as => :hidden, :input_html => { :value => @postable.longitude } %>
      <% end %>
      <%= f.input :budget %>
      <%= f.input :dimension %>
      <%= f.input :beneficiary %>
      <%= f.input :picture %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Kirim", {:class => "btn"} %>
    </div>
  </div>
  <% end %>
<% else %>
  <%= simple_form_for Post.new, :html => { :class => 'form-horizontal' } do |f| %>
    <div id="responsive" class="modal container hide fade" tabindex="-1">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Tambah Cerita</h3>
    </div>
    <div class="modal-body">
      <%= f.input :title %>
      <%= f.input :description, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'mini'} } %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <% if @postable != nil %>
        <%= f.input :postable_id, :as => :hidden, :input_html => { :value => @postable.id } %>
        <%= f.input :postable_type, :as => :hidden, :input_html => { :value => @postable.class } %>
        <%= f.input :latitude, :as => :hidden, :input_html => { :value => @postable.latitude } %>
        <%= f.input :longitude, :as => :hidden, :input_html => { :value => @postable.longitude } %>
      <% end %>
      <%= f.input :budget %>
      <%= f.input :dimension %>
      <%= f.input :beneficiary %>
      <%= f.input :picture %>
      <div class="control-group">
        <label class="control-label">Lokasi</label>
        <div class="controls">
          <%= select_tag "province", options_from_collection_for_select(Province.order(:name), "id", "name"), :prompt => "-Pilih propinsi-" %>
          <%= select_tag "district", options_for_select(["",""]), :prompt => "-Pilih kabupaten-", :id => 'districts_select' %>
          <%= select_tag "subdistrict", options_for_select(["",""]), :prompt => "-Pilih kecamatan-", :id => 'subdistricts_select' %>
        </div>
      </div>
      <div class="control-group activity">
        <label class="control-label">Sub Proyek</label>
        <div class="controls">
          <%= select_tag "activity", options_for_select(["",""]), :prompt => "-Pilih sub proyek-", :id => 'activities_select' %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit "Kirim", {:class => "btn"} %>
    </div>
  </div>
<% end %>
<% end %>
<!-- End of Modal Form -->

<script>
  $(document).ready(function() {
    $('#province').change(function() {
      $.ajax({
        url: "<%= '/posts/update_districts' %>",
        data: {
          province : $('#province').val()
        },
        dataType: "script"
      });
    });
    $('#districts_select').change(function() {
      $.ajax({
        url: "<%= '/posts/update_subdistricts' %>",
        data: {
          district : $('#districts_select').val()
        },
        dataType: "script"
      });
    });
    $('#subdistricts_select').change(function() {
      $.ajax({
        url: "<%= '/posts/update_activities' %>",
        data: {
          subdistrict : $('#subdistricts_select').val()
        },
        dataType: "script"
      });
    });
  });
</script>