<div class="span3">
  <div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
      <li class="nav-header">Cakupan Jalin Suara</li>
      <li style="font-size: 12px;">Propinsi: <%= link_to(@province_stats.size, provinces_path) %></li>
      <li style="font-size: 12px;">Kabupaten: <%= link_to(@district_stats.size, districts_path) %></li>
      <li style="font-size: 12px;">Kecamatan: <%= link_to(@subdistrict_stats.size, subdistricts_path) %></li>
      <li style="font-size: 12px;">Desa: </li>
      <li class="divider"></li>
      <li class="nav-header">Cakupan PNPM Mandiri</li>
      <li style="font-size: 12px;">Propinsi: </li>
      <li style="font-size: 12px;">Kabupaten: </li>
      <li style="font-size: 12px;">Kecamatan: </li>
      <li style="font-size: 12px;">Desa: </li>
      <li style="font-size: 12px;">Total Bantuan Langsung Masyarakat:</li>
      <li style="font-size: 12px;"><b><%= number_to_currency(0, :unit => "Rp ") %></b></li>
    </ul>
  </div>
</div>

<!-- Main Content -->
<div class="span6">
  <div class="main-content">
    <div class="well">
      <h4>Daftar Propinsi</h4>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nomor</th>
            <th>Nama Propinsi</th>
          </tr>
        </thead>
        <tbody>
          <% i=0 %>
          <% @provinces.each do |province| %>
            <% i+= 1 %>
            <tr>
              <td><%= i %></td>
              <td><%= link_to province.name, province_path(province) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <%= will_paginate @provnices, :renderer => BootstrapPagination::Rails %>
    </div>
  </div>
</div>
<!-- End of Main Content -->