<div class="row">
  <div class="span3">
    <div class="well" style="padding: 8px 0;">
      <h5 class="nav-list"><%= @activity.name %></h5>
      <h5 class="nav-list"><%= image_tag @activity.picture.url(:square)%></h5>
      <ul class="nav nav-list">
        <li class="divider"></li>
        <li class="nav-header">Informasi Aktivitas</li>
        <li style="font-size: 12px;">Jumlah Proposal (L): <%= @activity.male_proposal %></li>
        <li style="font-size: 12px;">Jumlah Proposal (P): <%= @activity.female_proposal %></li>
        <li style="font-size: 12px;">Penerima Manfaat (L): <%= @activity.male_beneficiary %></li>
        <li style="font-size: 12px;">Penerima Manfaat (P): <%= @activity.female_beneficiary %></li>
        <li style="font-size: 12px;">Penerima Manfaat (Miskin): <%= @activity.poor_beneficiary %></li>
        <li class="divider"></li>
        <li class="nav-header">Informasi Dana</li>
        <li style="font-size: 12px;">Bantuan Langsung Masyarakat: <%= number_to_currency(@activity.blm_amount, :unit => "Rp ") %></li>
        <li style="font-size: 12px;">Swadaya Masyarakat: <%= number_to_currency(@activity.self_fund_amount, :unit => "Rp ") %></li>
        <li class="divider"></li>
        <li class="nav-header">Informasi Proyek</li>
        <li style="font-size: 12px;">Panjang Proyek: <%= @activity.project_length %></li>
        <li style="font-size: 12px;">Luas Proyek: <%= @activity.project_area %></li>
        <li style="font-size: 12px;">Jumlah Proyek: <%= @activity.project_quantity %></li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="main-content">
      <div class="well">
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Komentar Terbaru</li>
        <li style="font-size: 12px;">Kegiatan: 12</li>
        <li style="font-size: 12px;">Bantuan Langsung Masyarakat: 123</li>
        <li style="font-size: 12px;">APBD: 1234</li>
        <li style="font-size: 12px;">Swadaya Masyarakat: 12345</li>
      </ul>
    </div>
  </div>
</div>
