<div class="span12">
  <!-- Content -->
  <div class="blog">
    <div class="row">
      <div class="span12">

        <div class="row">
          <!-- Main Content -->
          <div class="span8">
            <div class="rposts">
              <h2><%= @activity.name %></h2>
            </div>
            <table class="table table-bordered table-hover table-mini">
              <thead>
                <tr>
                  <th>Informasi Aktivitas</th>
                  <th>Informasi Dana</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jumlah Proposal (L): <%= @activity.male_proposal %></td>
                  <td>BLM: <%= number_to_currency(@activity.self_fund_amount, :unit => "Rp ") %></td>
                </tr>
                <tr>
                  <td>Jumlah Proposal (P): <%= @activity.female_proposal %></td>
                  <td>Swadaya Masyarakat: <%= number_to_currency(@activity.self_fund_amount, :unit => "Rp ") %></td>
                </tr>
                <tr>
                  <td>Panjang Proyek: <%= @activity.project_length %></td>
                  <td>Penerima Manfaat (L): <%= @activity.male_beneficiary %></td>
                </tr>
                <tr>
                  <td>Luas Proyek: <%= @activity.project_area %></td>
                  <td>Penerima Manfaat (P): <%= @activity.female_beneficiary %></td>
                </tr>
                <tr>
                  <td>Jumlah Proyek: <%= @activity.project_quantity %></td>
                  <td>Penerima Manfaat (Miskin): <%= @activity.poor_beneficiary %></td>
                </tr>
              </tbody>
            </table>
            <div class="hero">
              <h3><span>Cerita Terkait</span></h3>
            </div>
            <div class="posts">
              <!-- Post Entry -->
              <% @posts.each do |post| %>
                <div class="entry">
                   <h3><%= link_to post.title, post %></h3>
                   
                   <!-- Meta details -->
                   <div class="meta">
                      <i class="icon-calendar"></i> <%= post.created_at.strftime("%d-%m-%Y") %>&nbsp;
                      <i class="icon-map-marker"></i> <%= post.get_subdistrict_name %>&nbsp;
                      <i class="icon-user"></i> <%= post.user.username %> 
                      <span class="pull-right"><i class="icon-comment"></i> <%= post.comments_count %> Komentar</span>
                   </div>
                   
                   <!-- Thumbnail -->
                   <div class="bthumb2">
                      <%= image_tag post.picture.url(:thumbnail) %>
                   </div>
                   
                   <div style="min-height: 100px">
                    <%= raw(truncate(post.description, length: 250)) %>
                   </div>
                   <div class="button"><%= link_to "Baca selengkapnya...", post_path(post) %></div>
                </div>
              <% end %>
              <!-- End of Post Entry -->
            </div>
          </div>
          <!-- End of Main Content -->
          <!-- Widgets -->
          <div class="span4">
            <div class="sidebar", style="margin-top: 0px;">
              <div class="widget">
                <h4><%= @activity.get_subdistrict_name %></h4>
                <% if @implementer_unit %>
                  <h5 class="nav-list" style="text-align: center; border-bottom: 1px solid #eee;"><%= image_tag @implementer_unit.picture.url(:square) %></h5>
                <% end %>
                <br />
                <ul>
                  <li>Alamat UPK: <b><%= @implementer_unit.address %></b></li>
                  <li>Telepon UPK: <b><%= @implementer_unit.phone %></b></li>
                  <li>Nama Fasilitator: <b><%= @implementer_unit.facilitator %></b></li>
                  <li>Telepon Fasilitator: <b><%= @implementer_unit.facilitator_phone %></b></li>
                  <li>Telepon Pengaduan: <b><%= @implementer_unit.call_center %></b></li>
                  <li>Jumlah Desa: </li>
                  <li>Jumlah Kelurahan: </li>
                  <li>Jumlah Penerima Manfaat: </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of Widgets -->
        </div>
      </div>
    </div>
  </div>
  <!-- End of Content -->
</div>