<div class="row">
  <div class="span3">
    <div class="well" style="padding: 8px 0;">
      <h4 class="nav-list"><%= @activity.name %></h4>
      <h5 class="nav-list"><%= @activity.get_subdistrict_name %></h5>
      <h5 class="nav-list"><%= image_tag @activity.picture.url(:square)%></h5>
      <ul class="nav nav-list">
        <li class="divider"></li>
        <li class="nav-header">Informasi Aktivitas</li>
        <li style="font-size: 12px;">Jumlah Proposal (L): <%= @activity.male_proposal %></li>
        <li style="font-size: 12px;">Jumlah Proposal (P): <%= @activity.female_proposal %></li>
        <li style="font-size: 12px;">Penerima Manfaat (L): <%= @activity.male_beneficiary %></li>
        <li style="font-size: 12px;">Penerima Manfaat (P): <%= @activity.female_beneficiary %></li>
        <li style="font-size: 12px;">Penerima Manfaat (Miskin): <%= @activity.poor_beneficiary %></li>
        <li class="divider"></li>
        <li class="nav-header">Informasi Dana</li>
        <li style="font-size: 12px;">Bantuan Langsung Masyarakat:</li>
        <li style="font-size: 12px;"><b><%= number_to_currency(@activity.blm_amount, :unit => "Rp ") %></b></li>
        <li style="font-size: 12px;">Swadaya Masyarakat:</li>
        <li style="font-size: 12px;"><b><%= number_to_currency(@activity.self_fund_amount, :unit => "Rp ") %></b></li>
        <li class="divider"></li>
        <li class="nav-header">Informasi Proyek</li>
        <li style="font-size: 12px;">Panjang Proyek: <%= @activity.project_length %></li>
        <li style="font-size: 12px;">Luas Proyek: <%= @activity.project_area %></li>
        <li style="font-size: 12px;">Jumlah Proyek: <%= @activity.project_quantity %></li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <div class="main-content">
      <div class="well">
        <% if current_user != nil %>
          <%= render "/posts/form" %>
        <% end %>
        <% @posts.each do |post| %>
          <div class="row">
            <div class="left-side">
              <%= image_tag post.user.picture.url(:tiny), :style => "float:left; margin-bottom: 10px;" %>
            </div>
            <div class="right-side">
              <div class="content-heading">
                <h5><%= post.user.username %>&nbsp;<small><%= distance_of_time_in_words(post.created_at, Time.now) %> ago</small></h5>
              </div>
              <p style="margin: 0 5 0 0px;"><%= post.description %></p>
              <% if post.picture_file_name != nil %>
                <%= image_tag post.picture.url(:large) %>
              <% end %>
            </div>
          </div>
          <br/>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Komentar Terbaru</li>
      </ul>
    </div>
  </div>
</div>
