<!DOCTYPE html>
<html>
<head>
  <title>Mapstories</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navigation Bar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Map Stories</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Provinces", provinces_path %></li>
            <li><%= link_to "Cities", cities_path %></li>
            <li><%= link_to "Subdistricts", subdistricts_path %></li>
            <li><%= link_to "Projects", projects_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Navigation Bar -->

  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <!-- To do: fill in with sidebar if needed later on-->      
      </div>
    </div>
  </div>
  <!-- End of Content-->
</body>
</html>