<!DOCTYPE html>
<html>
<head>
  <title>Jalin Suara</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navigation Bar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Jalin Suara</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "ABOUT PSF", provinces_path %></li>
            <li><%= link_to "ABOUT PNPM", districts_path %></li>
            <li><%= link_to "KNOWLEDGE PRODUCTS", subdistricts_path %></li>
            <li><%= link_to "PSF LIBRARY", projects_path %></li>
            <li><%= link_to "GALLERY", categories_path %></li>
            <li><%= link_to "EVENTS", categories_path %></li>
            <li><%= link_to "CONTACT US", categories_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Navigation Bar -->

  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="span12"><%= yield %></div>
    </div>
  </div>
  <!-- End of Content-->
</body>
</html>